*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Besley", serif;
    outline: none;
    transition: 0.2s linear all;
}
:root{
    ---main: #ff0720;
    --box_shadow:0.5rem 1rem 1.5rem rgba(0,0,0.7)
    --border: 0.4rem solid var(---main)
}
::selection {
    background: var(--main);
    color: #000;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 7%;
}
.btn{
    display: inline-block;
    background: var(--main);
    cursor: pointer;
    color: #fff;
    padding: 0.9rem 3rem;
    margin-top: 1rem;
    font-size: 1.7rem;
}
.btn:hover{
    letter-spacing: 0.2rem;
}
.heading{
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
}
.heading span{
    color: var(--main);
}
html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-thumb{
    background: var(--main);
}
html::-webkit-scrollbar-track{
    background: #000;
}
/*Header Start */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--box_shadow);
    background: #000;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  1.5rem 9%;
}
header .logo img {
    height: 6rem;
}
header .navbar a{
    color: #fff;
    margin-left: 2rem;
    font-size: 1.7rem;
}
header .navbar a:hover {
    color: var(--main);
}
#Menubtn {
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}
/*Header End */

/* Home Section Start */
.home {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.6)),
     url("images/header1.jpg") no-repeat;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    object-fit: cover;
}
.home .content{
    max-width: 60rem;
    color: #fff;
}
.home .content h3 {
    font-size: 5rem;
    text-transform: uppercase;
}
.home .content p{
    font-size: 4rem;
    font-weight: lighter;
    color: #ccc;
    line-height: 1.8;
    padding: 1rem ;
}
/* Home Section End */

/* About Section End */
.about {
    margin-bottom: 200px;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}
.about .row .img{
    flex: 1 1 45rem;
    padding: 1rem;
}
.about .row .content{
    flex: 1 1 45rem;
}

.about img {
    border: var(--border);
    border-radius: 0.5rem;
    width: 100%;
}
.about .row .content h3{
    font-size: 3.5rem;
}
.about .row .content p{
    line-height: 2;
    font-size: 1.5rem;
    padding: 1rem 0;
}

/* About Section End */

/* Service Section Start */
.services{
    margin-bottom: 200px;
}
.services .boxContainer,
.gallery .boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
  gap: 1.5rem;
}
.services .boxContainer .box{
    text-align: center;
    padding: 2.5rem;
    background: rgb(26, 25, 25);
    color: #fff;
    border: var(--border);
    cursor: pointer;
}
.services .boxContainer .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background: var(--main);
}
.services .boxContainer .box:hover i{
    transform: scale(1.5);
}

.services .boxContainer .box h3{
    font-size: 2rem;
    padding: 1rem 0;
}
.services .boxContainer .box p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #eee;
}


/* Service Section End */

/* Gallery Section Start */

.gallery {
    margin-bottom: 200px;
}

.gallery img{
    height: 10%;
    object-fit: cover;
    width: 100%;
}
.gallery .boxContainer .box h3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: var(--main);
    color: #fff;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 2rem;  
}
/* Gallery Section End */

/* Review Section Start */
.review {
    margin-bottom: 200px;
}
.review .box {
    border: var(--border);
    border-radius: 0.5rem;
    background: #000;
    padding: 2rem;
    position: relative;
    color: #fff;
}
.review .box .user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
}
.review img{
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 50%;
}
/* Review Section End */

/* Contact Section Start */
.contact {
    margin-bottom: 10px;
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}
.contact .img{
    flex: 1 1 45rem
}
.contact img{
    width: 100%;
}
.contact form{
    flex: 1 1 45rem;
    border: var(--border);
    box-shadow: var(--box_shadow);
    padding: 2rem;
    text-align: center;
    border-radius: 0.2rem;
}
.contact form h3{
    font-size: 3rem;
    padding-bottom: 1rem;
}
.contact form .box{
    width: 100%;
    margin: 0.7rem 0;
    text-transform: none;
    padding: 1rem;
    font-size: 1.6rem;
    border: var(--border);
}

/*Footer*/
footer{
    background: var(--main);
    padding: 2rem;
    text-align: center;
}
footer a{
    color: #fff;
    font-size: 2rem;
}

/* Theme Toggle*/
.themeToggle{
    position: fixed;
    top: 10rem;
    right: 0;
    background: #000;
    z-index: 10000;
    width: 20rem;
    text-align-last: center;
}

/* Contact Section End */

/* Media Query */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media(max-width: 768px) {
    #Menubtn {
        display: initial;
    }
.fa-times {
    transform: rotate(180deg);
}
header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 0.2rem solid #222;
    clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
    background: #000;
}
header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%,0% 100%);
}
header .navbar a{
    display: flex;
    background: #333;
    border-radius: 0.5rem;
    margin: 1.3rem;
    font-size: 2rem;
    padding: 1.3rem;
}

.home .content h3{
    font-size: 3.5rem;
}
.home .content p{
    font-size: 1.5rem;
}
}


@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .home{
      background-position: left;
      justify-content: center;
      text-align: center;
    }
}
